
form {
  display: flex;
  padding: 10px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc}
.input {
  margin-right: 15px;
}
.frame {
  width: 40vw;
  max-width: 400px;
}
.header {
  display: inline;
  text-align: center;
}
.list-wrapper {
  max-height: 450px;
  overflow-y: auto;
}
.done {
  background-color: #F08080;
  width: 20px;
  height: 20px;
}
